@page "/"
@inherits ChatBase

<h1>Welcome to your chat app using SignalR.</h1>

@if (chatMessages != null)
{
	<ul>
		@foreach (var chatMessage in chatMessages)
		{
			<li>@chatMessage.UserName: @chatMessage.Message</li>
		}
	</ul>
}

<DxTextBox @bind-Text="@myChatMessage" SizeMode="SizeMode.Medium" NullText="Your Message" />
<DxButton Text="Send" RenderStyle="ButtonRenderStyle.Success"
			 RenderStyleMode="ButtonRenderStyleMode.Contained"
			 Click="@(async (args) => await HandleSendMessage(args))"/>