@inherits NavMenuBase

<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">SignalR Chat</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<DxButton RenderStyle="@ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained"
						 Text="Trần Công Minh" />
		</li>
		<li class="nav-item px-3">
			<DxButton RenderStyle="@ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained"
						 Text="Nguyễn Hoài Nam" />
		</li>
		<li class="nav-item px-3">
			<DxButton RenderStyle="@ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained"
						 Text="Phạm Nguyễn Trung Phong" />
		</li>
	</ul>
</div>