@inherits NavMenuBase

<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">Online clients</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="list-group">
		@foreach (var client in ClientList)
		{
			<li class="list-group-item list-group-item-action list-group-item-info rounded-0"
				 id="@client.ClientId"
				 style="cursor:pointer"
				 @onclick="@(async () => await HandleOnClickSpecificClient(client.ClientId))">
				@client.Username
			</li>
		}
	</ul>
</div>