@inherits ManySelectListPopupBase

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userListModal">
	Create group
</button>

<!-- Modal -->
<div class="modal fade" id="userListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Choose user for group</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="input-group flex-nowrap">
					<div class="input-group-prepend">
						<span class="input-group-text" id="addon-wrapping">Group name:</span>
					</div>
					<input type="text" class="form-control" placeholder="Group name here..." @bind-value="GroupName">
				</div>
				@foreach (var client in ClientList)
				{
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input position-static" type="checkbox"
									 @onchange="eventArgs => HandleCheckboxClicked(client.ClientId, eventArgs.Value)">
							@client.Username
						</label>
					</div>
				}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"
						  @onclick="async () => await HandleCreate()">
					Create
				</button>
			</div>
		</div>
	</div>
</div>

